@{
    ViewBag.Title = "Hotel Booking";
}

<div class="jumbotron">
    <h1>REZERWACJA POKOJU</h1>
    <p class="lead">Aplikacja ta została stworzona z myślą, aby użytkownik mógł stworzyć swoją bazę pokoi, następnie stworzyć rezerwacje i administrować nimi.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

